<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e0e0d61159.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/post.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="commu_title">
            커뮤니티 게시판
        </div>
    </header>

    <section>
        <div class="postTitle">
            연남동 맛집 추천해주세요!
        </div>
    
        <div class="user">
            <div class="userImg"><img src="lovedive.png" alt=""></div>
            <div class="userId">won_young10</div>
        </div>

        <hr>
    
        <div class="userPost">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste numquam accusantium voluptate fuga sequi, provident porro possimus neque suscipit non illum perferendis impedit molestiae quidem voluptates nobis ad explicabo magnam.
        </div>

        <hr>

        <div class="commentCnt">댓글14</div>


        <div class="commentWrite">
            <textarea  class="commentArea" name="" id="">댓글을 입력하세요.</textarea>
            <button class="commentBtn">댓글<br>등록</button>
        </div>
    
        <div class="commentBox">
            <div class="comenttUser">
                <div class="user">
                    <div class="userImg2"><img src="lovedive.png" alt=""></div>
                    <div class="userId">won_young10</div>
                </div>
    
                <div class="commentView">
                    연남동 00카페 좋아요~
                </div>
            </div>
        </div>

        <div class="commentBox">
            <div class="commenttUser">
                <div class="user">
                    <div class="userImg2"><img src="lovedive.png" alt=""></div>
                    <div class="userId">won_young10</div>
                </div>
    
                <div class="commentView">
                    연남동 00카페 별루에용 ㅠㅠ~
                </div>
            </div>
        </div>
    </section>


    <div  class="bottom_navbar">
        <ul>
            <li><i class="fa-solid fa-house"></i></li>
            <li><i class="fa-solid fa-rectangle-list"></i></li>
            <li><i class="fa-solid fa-music"></i></li>
            <li><i class="fa-solid fa-comment"></i></i>
            <li><i class="fa-solid fa-user"></i></li>
        </ul>
    </div>

    

</body>
</html>